POSTGRES_USER= "postgres"
POSTGRES_PASSWORD="password"
POSTGRES_DB="vuln_intel_db"
DATABASE_URL="postgresql://postgres:password@postgres-db:5432/vuln_intel_db"

OPENROUTER_KEY="openrouter_key_here"
